div
	span.full
		Button.full
			text {{text}}
		div.full
			Button.full(fn.on-clicked="inc()")
				text {{count}}
			Button.full(fn.on-clicked="add()")
				text Click button above!
	span
		text.yellow >
		EditableText(Binding.Text='text',fn.on-text-changed='text = ^arguments[0]',HintText="Your secret goes here")
		
	span
		list.full(repeat='item in items',on-click="discard(item)") 
			HorizontalBox.small
				text.full {{item.key}}
				text.full {{item.value}}
		list_div.full(repeat='item in items',on-click="discard(item)") 
			HorizontalBox.small
				text.full {{item.key}}
				text.full {{item.value}}